<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
  <div class="alert alert-danger shadow-lg p-4">
    <h1 class="display-4">Oops!</h1>

    <h3>Error <%= err.status || 500 %></h3>

    <p class="lead"><%= err.message || "Something went wrong" %></p>

    <hr />

    <a href="/listings" class="btn btn-dark"> Back to Listings </a>
  </div>
</div>
